<a href="https://colab.research.google.com/github/MRM07/EverythingDataScience/blob/master/FeatureTools_for_Relational_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import featuretools as ft

In [0]:
clients= pd.read_csv("clients.csv")
loans=   pd.read_csv("loans.csv")
payments= pd.read_csv("payments.csv")

In [82]:
clients.head()

   client_id      joined  income  credit_score
0      46109  2002-04-16  172677           527
1      49545  2007-11-14  104564           770
2      41480  2013-03-11  122607           585
3      46180  2001-11-06   43851           562
4      25707  2006-10-06  211422           621

In [84]:
loans.head()

   client_id loan_type  loan_amount  ...  loan_start    loan_end  rate
0      46109      home        13672  ...  2002-04-16  2003-12-20  2.15
1      46109    credit         9794  ...  2003-10-21  2005-07-17  1.25
2      46109      home        12734  ...  2006-02-01  2007-07-05  0.68
3      46109      cash        12518  ...  2010-12-08  2013-05-05  1.24
4      46109    credit        14049  ...  2010-07-07  2012-05-21  3.13

[5 rows x 8 columns]

In [85]:
payments.head()

   loan_id  payment_amount payment_date  missed
0    10243            2369   2002-05-31       1
1    10243            2439   2002-06-18       1
2    10243            2662   2002-06-29       0
3    10243            2268   2002-07-20       0
4    10243            2027   2002-07-31       1

# Entity


An entity is simply a table, which is
represented in Pandas as a dataframe. 
Each entity must have a uniquely identifying column, known as an index. 


For the clients dataframe, this is the client_id because each id only appears once in the clients data. 

In the loans dataframe, client_id is not an index because each id might appear more than once. The index for this dataframe is instead loan_id.


Feature tools will automatically infer the variable types (numeric, categorical, datetime) of the columns in our data, but we can also pass in specific datatypes to override this behavior. As an example, even though the repaid column in the loans dataframe is represented as an integer, we can tell feature tools that this is a categorical feature since it can only take on two discrete values. This is done using an integer with the variables as keys and the feature types as values.

In [0]:
es = ft.EntitySet(id = 'clients')

Specify the categorical/numerical/date_time columns through a list, which we will add as a feature in our UI, where 
the user shall have an option to mark the category of the features like, date_time, numeric or categorical. And based on that,
our feature tools will perform aggregations and standardization.

In [0]:
#our categorical list here is small but let's add our data to it

categorical_list=['repaid', 'missed']

In [0]:
"""
Let's create a dictionary to define the categorical columns, because our 
categorical columns are in the form of numeric values.
This dictionary is fed in the function in the next cell tab in variable_types parameter.

"""
categorical_dict={}
for col in categorical_list:
  categorical_dict[col]= ft.variable_types.Categorical

In [0]:
# Create an entity from the loans dataframe
# This dataframe already has an index and a time index
es = es.entity_from_dataframe(entity_id = 'loans', dataframe = loans, 
                              variable_types = categorical_dict,
                              index= "loan_id"
                              )

In [0]:
# Create an entity from the client dataframe
# This dataframe already has an index and a time index
es = es.entity_from_dataframe(entity_id = 'clients', dataframe = clients, 
                              index = 'client_id', time_index = 'joined')

In [0]:
# Create an entity from the payments dataframe
# This does not yet have a unique index
es = es.entity_from_dataframe(entity_id = 'payments', 
                              dataframe = payments,
                              variable_types = {'missed': ft.variable_types.Categorical},
                              make_index = True,
                              index = 'payment_id',
                              time_index = 'payment_date')

All three entities have been successfully added to the EntitySet. We can access any of the entities using Python dictionary syntax.



Feature tools correctly inferred each of the datatypes when we made this entity. We can also see that we overrode the type for the repaid feature, changing if from numeric to categorical.

In [107]:
es['clients']

Entity: clients
  Variables:
    client_id (dtype: index)
    joined (dtype: datetime_time_index)
    income (dtype: numeric)
    credit_score (dtype: numeric)
  Shape:
    (Rows: 25, Columns: 4)

In [97]:
es['loans']

Entity: loans
  Variables:
    loan_id (dtype: index)
    client_id (dtype: numeric)
    loan_type (dtype: categorical)
    loan_amount (dtype: numeric)
    loan_start (dtype: datetime)
    loan_end (dtype: datetime)
    rate (dtype: numeric)
    repaid (dtype: categorical)
  Shape:
    (Rows: 443, Columns: 8)

In [98]:
es['payments']

Entity: payments
  Variables:
    payment_id (dtype: index)
    loan_id (dtype: numeric)
    payment_amount (dtype: numeric)
    payment_date (dtype: datetime_time_index)
    missed (dtype: categorical)
  Shape:
    (Rows: 3456, Columns: 5)

# Relationships


After defining the **entities** (tables) in an EntitySet, we now need to tell feature tools how they are related with a **relationship**. 

The most intuitive way to think of relationships is with the parent to child analogy: a parent-to-child relationship is one-to-many because for each parent, there can be multiple children.

The client dataframe is  parent of the loans dataframe because while there is only one row for each client in the client dataframe, each client may have several previous loans covering multiple rows in the loans dataframe. 


Likewise, the loans dataframe is the parent of the payments dataframe because each loan will have multiple payments.


**We codify relationships in the language of feature tools by specifying the parent variable and then the child variable. After creating a relationship, we add it to the EntitySet.**

In [0]:
# Relationship between clients and previous loans
r_client_previous = ft.Relationship(es['clients']['client_id'],
                                    es['loans']['client_id'])

# Add the relationship to the entity set
es = es.add_relationship(r_client_previous)

The relationship has now been stored in the entity set. The second relationship is between the **loans and payments**. These two entities are related by the **loan_id** variable.

In [109]:
# Relationship between previous loans and previous payments
r_payments = ft.Relationship(es['loans']['loan_id'],
                                      es['payments']['loan_id'])

# Add the relationship to the entity set
es = es.add_relationship(r_payments)

es

Entityset: clients
  Entities:
    loans [Rows: 443, Columns: 8]
    clients [Rows: 25, Columns: 4]
    payments [Rows: 3456, Columns: 5]
  Relationships:
    loans.client_id -> clients.client_id
    payments.loan_id -> loans.loan_id

# Feature Primitives


A feature primitive a at a very high-level is an operation applied to data to create a feature. These represent very simple calculations that can be stacked on top of each other to create complex features. Feature primitives fall into two categories:

**Aggregation**: function that groups together child datapoints for each parent and then calculates a statistic such as mean, min, max, or standard deviation. An example is calculating the maximum loan amount for each client. An aggregation works across multiple tables using relationships between tables.


**Transformation**: an operation applied to one or more columns in a single table. An example would be extracting the day from dates, or finding the difference between two columns in one table.
Let's take a look at feature primitives in feature tools. We can view the list of primitives:

In [110]:
primitives = ft.list_primitives()
pd.options.display.max_colwidth = 100
primitives[primitives['type'] == 'aggregation'].head(10)

               name  ...                                                              description
0               max  ...                   Finds the maximum non-null value of a numeric feature.
1               min  ...                   Finds the minimum non-null value of a numeric feature.
2        num_unique  ...                      Returns the number of unique categorical variables.
3               std  ...  Finds the standard deviation of a numeric feature ignoring null values.
4              mode  ...                  Finds the most common element in a categorical feature.
5              skew  ...                                     Computes the skewness of a data set.
6              mean  ...                         Computes the average value of a numeric feature.
7            median  ...          Finds the median value of any feature with well-ordered values.
8  avg_time_between  ...                    Computes the average time between consecutive events.
9               sum  ...                           Sums elements of a numeric or boolean feature.

[10 rows x 3 columns]

# **Deep Feature Synthesis**


Feature primitives are useful by themselves, the main benefit of using feature tools arises when we stack primitives to get deep features. The depth of a feature is simply the number of primitives required to make a feature. So, a feature that relies on a single aggregation would be a deep feature with a depth of 1, a feature that stacks two primitives would have a depth of 2 and so on.

**Automated Deep Feature Synthesis**

In addition to manually specifying aggregation and transformation feature primitives, we can let feature tools automatically generate many new features

In [0]:
# Perform deep feature synthesis without specifying primitives
features, feature_names = ft.dfs(entityset=es, target_entity='clients', 
                                 max_depth = 2)

In [114]:
features.head()

           income  ...  MODE(loans.WEEKDAY(loan_end))
client_id          ...
25707      211422  ...                              0
26326      227920  ...                              2
26695      174532  ...                              1
26945      214516  ...                              1
29841       38354  ...                              1

[5 rows x 92 columns]